{% extends "main.html" %}

{% block content %}
<br>
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Informação do Cliente</h2>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">{{field.label}}</label>
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2"
                      type="submit">Gravar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}